﻿@using Poodle_E_Learning_Platform.Services
@inject ICourseService courseService
@inject Poodle_E_Learning_Platform.Helpers.AuthorizationHelper authorizationHelper
@inject Poodle_E_Learning_Platform.Repositories.IUsersRepository usersRepository
@inject Poodle_E_Learning_Platform.Repositories.IUserCourseRepository userCourseRepository
@{
    var courses = courseService.GetAll();
    int count = courses.Count();
    var duration = "";
    var loggedUser = this.usersRepository.GetByEmail(this.authorizationHelper.CurrentUser);
    ViewData["Title"] = "Home";
}



<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">The Best Online Learning Platform</h1>
                            <p class="fs-5 text-white mb-4 pb-2">With an endless variety of new and exciting course, you can also improve your skills!</p>
                            <a href="@Url.Action("Courses","Home")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="@Url.Action("Register","Authentication")" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Get Educated Online From Your Home</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Join now and improve your skills on the subjects that interest you. What are you waiting for!</p>
                            <a href="@Url.Action("Courses","Home")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="@Url.Action("Register","Authentication")" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Skilled Instructors</h5>
                        <p>Our team of excellent instructors will help you achieve you dream!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Classes</h5>
                        <p>Our endless variety of online classes will never let you be bored!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Home Projects</h5>
                        <p>Practice on your own in the comfort of your own house.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Book Library</h5>
                        <p>With tons of references to old and new literature your source of information is endless!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to eLEARNING</h1>
                <p class="mb-4">Welcome to your new best teaching partner - The Poodle E-Learning Platform.</p>
                <p class="mb-4">Start your learning journey with one of the most highly acclaimed online learning platforms. Just by registering you can get access to:</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Endless fun</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="@Url.Action("Register","Authentication")">Join Now</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">A glimpse of our courses</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @{
                HashSet<int> usedNums = new HashSet<int>();
            }

            @while (usedNums.Count < 3)
            {

                Random rnd = new Random();
                int num = rnd.Next(0, courses.Count);
                if (usedNums.Contains(num))
                {
                    continue;
                }

                usedNums.Add(num);
                var currentCourse = courses[num];
              

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src=@Url.Content(currentCourse.ImgSource) alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">

                                @if (loggedUser == null)
                                {
                                    <a href="../Authentication/Register" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 30px 30px 30px 30px;">Join Now</a>
                                }
                                else if (loggedUser != null && loggedUser.Role == Poodle_E_Learning_Platform.Models.UserRole.Teacher)
                                {
                                    <a href="../courses/details/@currentCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 30px 30px 30px;">Read More</a>
                                }
                                else if (loggedUser != null && loggedUser.Role == Poodle_E_Learning_Platform.Models.UserRole.Student)
                                {
                                   
                                    var userCourse = this.userCourseRepository.GetByBothIds(currentCourse.Id, loggedUser.Id);
                                    
                                    if (loggedUser.UserCourses.Contains(userCourse))
                                    {
                                        <a href="../courses/details/@currentCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 30px 30px 30px;">Read More</a>
                                    }
                                    else
                                    {
                                        <a href="../courses/details/@currentCourse.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 30px 30px 30px 30px;">Join Now</a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h5 class="mb-4">@Url.Content(currentCourse.Title)</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="bi bi-person-circle text-primary me-2"></i>Head Teacher in charge: @currentCourse.CreatedBy</small>
                        </div>
                        <div class="d-flex border-top">
                            @if (currentCourse.Visibility == Poodle_E_Learning_Platform.Models.CourseVisibility.Public)
                            {
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-eye text-primary me-2"></i>@Url.Content(currentCourse.Visibility.ToString())</small>
                            }
                            else
                            {
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-eye-slash text-primary me-2"></i>@Url.Content(currentCourse.Visibility.ToString())</small>
                            }
                            @if (currentCourse.Duration > 60)
                            {
                                duration = $"{currentCourse.Duration / 60} Hrs {currentCourse.Duration % 60}";
                            }
                            else
                            {
                                duration = $"{currentCourse.Duration} Min";
                            }
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@duration Hrs</small>
                            <small class="flex-fill text-center py-2"><i class="bi bi-people-fill text-primary me-2"></i>@currentCourse.Users.Count Students</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Courses End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Jessica</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">The best platform I have ever used. It helped me reconnect with my passion of learning.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Andrew</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">I was lost for a time, then I found Poodle. It brought back my joy of studying.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Mike</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">You should really join now! You will not regret it, I can guarantee that.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Steffany</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">The staff is friendly and helpful. Always there to help when I needed it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
